* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background: transparent;
    flex-wrap: wrap;
    margin-left: 170px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}

.nav-links {
    display: flex;
    gap: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #534646;
    font-weight: 500;
    font-size: 25px;
    
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 180px;
     font-weight: 500;
    font-size: 25px;
}

.phone {
    font-size: 18px;
    color: #333;
}

.btn-light {
    background: #ffe6e6;
    border: none;
    padding: 13px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background: #f6533b;
    color: white;
    border: none;
    padding: 13px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover{
    opacity: 0.7;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    margin-left: 175px;
}


.hero-text {
    flex: 1;
    min-width: 300px;
}

.hero-text h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
}

.btn-primary1 {
    background: #f6533b;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s ease;
}
.btn-primary1:hover{
    opacity: 0.7;
}


.btn-outline {
    background: transparent;
    border: 1px solid #f6533b;
    padding: 18px 25px;
    border-radius: 20px;
    cursor: pointer;
    color: #f6533b;
    font-size: 16px;
}
.hero-buttons {
    display: flex;
    gap: 15px;
}

.hero-image {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}
.hero-image img {
    width: 700px;
}

.recipe-card {
    position: absolute;
    bottom: 20px;
    left: -30px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.recipe-card img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.features {
    text-align: center;
    padding: 60px 20px;
    background: #fff;
}

.features .subtitle {
    color: #f6533b;
    font-size: 28px;
    letter-spacing: 8px;
    margin-bottom: 18px;
}

.features .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto;
}

.feature-card {
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card .icon {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.feature-card .icon img {
    width: 100px;
}

.feature-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 14px;
    color: gray;
    margin-bottom: 15px;
}

.feature-card a {
    color: #f6533b;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.feature-card a:hover {
    text-decoration: underline;
}
.cooking-section {
    padding: 80px 20px;
    background: #fff;
}

.cooking-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    gap: 40px;
}

.cooking-image {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chef {
    position: relative; 
     z-index: 1;
     flex: 1;
    min-width: 200px;
}

.cooking-text {
    flex: 1;
}

.cooking-text .subtitle {
    color: #f08a76;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.cooking-text h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cooking-text p {
    color: #777;
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    background: #e56b55;
    color: #fff;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background: #d5563f;
}

.section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fde9e4;
}

.section h2 {
  color: #f08a76;
  letter-spacing: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}
.experts-wrapper {
  width: 100%;
}
.experts {
  display: flex;
  transition: transform 1.2s ease-in-out;
  width: 100%; 
}
.card {
  position: relative;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 0 10px;
  flex: 0 0 33.333%;
  box-sizing: border-box;
}
.card img.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: none;
  padding: 15px;
}
.card h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}
.card p {
  margin: 0;
  color: gray;
  font-size: 14px;
}
.gallery-section {
  text-align: center;
  padding: 70px 20px;
}

.gallery-section h2 {
  color: #f49b93;
  letter-spacing: 4px;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.gallery-section h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 15px;
  max-width: 1300px;
  margin: 10px auto;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.newsletter {
  padding: 1gv 0px 20px;
  position: relative;
  margin-top: 150px;
}

.newsletter-content {
  position: relative;
  background-color: #dd5e42;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 120px;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.newsletter-text {
  color: #fff;
  max-width: 500px;
  flex: 1;
}

.newsletter-text h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0 0 10px;
}

.newsletter-text h1 {
  font-size: 30px;
  margin: 0 0 20px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 50px;
  padding: 5px;
  max-width: 400px;
}

.newsletter-form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 14px;
}

.newsletter-form button {
  background: #111;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

.newsletter-image img {
  width: 650px;
  border-radius: 50%;
  position: absolute;
  top: -120px;
  right: -180px;
}
.footer {
  background: #fff;
  color: #000;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
  margin-top: 260px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 90px;
  max-width: 1400px;
  margin: auto;
}

.footer-brand {
  flex: 1 1 290px;
}

.footer-logo {
  width: 130px;
  height: auto;
  margin-bottom: 10px;
}

.footer-brand p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.8;
  width: 180px;
}

.footer-socials a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #f8f8f8;
  border-radius: 50%;
  margin-right: 10px;
  color: #000;
  font-size: 14px;
  transition: background 0.3s;
}

.footer-socials a:hover {
  background: #ddd;
}

.footer-links {
  flex: 1 1 190px;
}

.footer-links h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.6s;
}

.footer-links ul li a:hover {
  color:  #dd5e42;
}
.footer-bottom {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 35px;
  font-size: 13px;
  color: #777;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 160px;
}

.footer-bottom a {
  color: #555;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #000;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .footer-links {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

@media(max-width: 768px) {
  .newsletter-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter-image img {
    position: static;
    margin-top: 20px;
    width: 200px;
  }
}
/* tablet */
@media (max-width: 992px) {
  .card {
    flex: 0 0 50%; /* 2 per row */
  }
}

/* mobile */
@media (max-width: 600px) {
  .card {
    flex: 0 0 100%; /* 1 per row */
  }
}

@media (max-width: 992px) {
    .cooking-container {
        flex-direction: column;
        text-align: center;
    }

    .yellow-bg {
        position: relative;
        transform: none;
        margin-bottom: -50px;
    }
}

@media (max-width: 992px) {
    .feature-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .feature-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        margin-bottom: 30px;
    }

    .image-bg {
        position: relative;
        right: 0;
    }

    .recipe-card {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #fff;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-buttons {
        flex-direction: column;
        margin-top: 10px;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .hero-image img {
        width: 250px;
    }

    .image-bg {
        width: 250px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 15px;
    }

    .btn-primary, .btn-outline, .btn-light {
        padding: 6px 12px;
        font-size: 14px;
    }

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-text p {
        font-size: 14px;
    }
}
